* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

.container .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container .row .col {
  background-color: rgba(255, 0, 0, 0.368);
}

